:root {
    --dark-blue: #222;
    --pink: #F1E4E6;
    --pink-text:#F16D7F;
    --text-color:#5D5D5D;
    --bg-catalog:   #F8F8F8;

}


*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--dark-blue);
    min-height: 75px;
    padding: 18px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    /* align-items: center; */
}

.nav {
    display: none;
}

.header__search-input {
    display: none;
}

.header__search {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 41px;

}

.header__search-btn {
    background-color: transparent;
    border: none;
}

.header__search-img {
    position: absolute;
    top: 7px;
    left: 0;
}

.header__user {
    margin: 0 34px 0 34px;
}

.intro {
    background-color: #fcf6f7;
    display: flex;
    /* align-items: center; */
    /* min-height: 764px; */
}

.man-img {
    /* width: 50%; */
    background-color: #fcf6f7;
    flex-grow: -0.5;
    /* margin-left: 200px; */
    vertical-align: initial;
}


.intro__text ::before {
    content: "";
    width: 10px;
    height: 100px;
    background-color: red;
    display: block;
    position: absolute;
    top: 2px;
    left: -26px;
    margin-right: 14px;

}

.title__color {
    color: red;
}



.intro__text-big {

    font-weight: 900;
    width: 477px;
    display: block;
    font-size: 48px;
}

.intro__text {

    position: relative;

    background-color: var(--pink);
    flex-grow: 1;
    flex-shrink: 1;
    width: 402px;
    /* height: 800px; */
    display: flex;
    align-items: center;
    font-weight: 300;
    line-height: 56px;
}

.intro__text-title {
    font-weight: 300;
    position: relative;
    margin-left: 92px;
    font-size: 33px;
}
.offer{
    padding: 63px 0;
}
.offer__cards {
    display: flex;
}

.offer__subtitle {
    display: block;

}
.offer__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 
flex-basis: 33%;}
.offer__card {
    background-image: url(../img/offer-card01.jpg);
    flex-basis: 31%;
    background-size: cover;background-repeat: no-repeat;
    background-position: center;min-height: 260px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    line-height: 0;
    text-transform: uppercase;
}

.offer__subtitle {
    color: #fff;
    display: block;
    font-size: 16px;
    z-index: 999;


}

.offer__title {
    display: block;
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
   z-index: 99;
   margin-top: 25px;
    
}
.offer__card::after{
    position: absolute;
    top: 0;
    left: 0;
content: "";
display: block;
width: 100%;
height: 100%;
background: rgba(33, 22, 22, 0.7)

}
.offer__card1{
    background-image: url(../img/offer-card02.jpg);
}
.offer__card2{
    background-image: url(../img/offer-card03.jpg);
}
.offer__card3{
    background-image: url(../img/offer-card04.jpg);
    flex-grow: 1;
}
.offer__card:not(:last-child){
    margin-bottom: 30px;
}
.catalog{
padding: 30px 0 95px 0;
}
.catalog__list{
    flex-wrap: wrap;  
    flex-basis: 33%;
}
.catalog__heder{
    text-align: center;
    font-weight: 400;
font-size: 30px;
color: var(--dark-blue);
}
.catalog__subtitle{
    text-align: center;
    display: block;
    margin-bottom: 48px;
    color: var(--text-color);
}
.catalog__item{
  max-width: 350px;
  min-height: 581px;
  margin-bottom: 30px;
  
}
.catalog__img{
max-width: 100%;
}
.catalog__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
    padding: 24px 28px 20px 16px;
    background-color: var(--bg-catalog);
    width: 100%;

}
.catalog__title{
    text-transform: uppercase;
}

.catalog__prise{
color: var(--pink-text);
font-size: 16px;
}
.catlog__btn{
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
cursor: pointer;
background-color: transparent;
display: block;
margin: 0 auto;
color: #F26376;
margin-top: 63px;
}
.feature{
    background-color: var(--dark-blue);
    padding: 104px 0 ;
}
.feature__text{
    color: #fff;
}
.feature__heading{
    font-size: 20px;
}
.feature__descr{
    color: var(--text-color);
    font-size: 14px;
}

.feature__item{
    max-width: 357px;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0 20px 0;
/* display: flex; *//* flex-direction: column; *//* align-items: center; *//* justify-content: center; */text-align: center;}
.reviews{
    background-image: url(../img/reviews-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0 106px 0;
position: relative;}
.reviews::after{
    position: absolute;content: "";
    background-color:  rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 100%;
    display: block;
    

    
   
top: 0;left: 0;}
.reviews__img{
    width: 144px;
    height: 150px;
    border-radius: 50%;
    display: block;
    overflow: auto;
    margin: 0 auto;
}
.reviews__text{
    width: 359px;
font-size: 20px;
line-height: 18px;
font-style: italic;
font-weight: 700;
text-align: center;


z-index: 99;}
.reviews__avatar{
    width: 100%;
}
.subscibe{
    z-index: 99;
}
.subscibe__title{
    font-size: 24px;
    color: var(--dark-blue);
    text-transform: uppercase;
    text-align: center;
}
.subscibe__descr{
    font-size: 18px;
}
.form{
    position: relative;
}
.subscibe__input{
width: 322px;
height: 50px;
border-radius: 25px;
background-color: #E1E1E1;
border: none;
padding-left: 25px;
position: relative;
}
.subscibe__btn{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    right: 24px;
    background-color: #F16D7F;
    border-radius: 25px;
color: #fff;border: none;}